<div class="jumbtron">
    <h1 class="display-4 text-center">Logs admin viewer</h1>
    <hr>
    <div class="row">

      <div class="col-md-12">
        <app-logs-viewer-list></app-logs-viewer-list>
      </div>
    </div>
  </div>