<div>
    <div>
      <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off"
        placeholder="&#61442;  Start searching for a log by id or title or status or description">
    </div>
  </div>
  <br />
  <br />
  
  <div>
    <table class="table">
      <thead class="table-dark">
        <tr>
          <td scope="col">Log Id</td>
          <td>Ttiel</td>
          <td>Description</td>
          <td>Status Code</td>
          <td>path</td>
          <td>Created Date</td>
        </tr>
      </thead>
  
      <tbody class="table table-hover">
        <tr *ngFor="let log of logs | tableFilter: {
            _id: searchText,
            title: searchText,
            description: searchText,
            path: searchText
        }">
          <td>{{ log._id }}</td>
          <td>{{ log.title }}</td>
          <td>{{ log.description }}</td>
          <td>{{ log.statusCode }}</td>
          <td>{{ log.path}}</td>
          <td>{{ log.createdAt }}</td>
        </tr>
      </tbody>
    </table>
  </div>